<img class='pokeTitle' src='https://fontmeme.com/permalink/201026/e6ac1f101d3d79a93ff3a13fcc7931b6.png'>
  <p class="text-center">
    <a href="/pokemon">My Pokemon</a>
  </p>

<div class="container">
  

  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <div class='frontHeader'>
      <h2><%= pokemon.name %></h2></div>
      <% let url = pokemon.url %>
      <!-- //splice url to isolte the id -->
      <% let pokeIndex = url.slice(34, url.length-1) %>
      <!-- <h2>Index: <%=pokeIndex%></h2> -->
      <div>
      <img class='imgFront' src=<%=`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${pokeIndex}.png`%>>
    </div>

    
    <form method="GET" action="/pokemon/<%=pokeIndex%>">
      <input hidden type="text" name="url" value="<%=pokeIndex%>">
      <button class="btn" type="submit">Learn More</button>
    </form>

      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn" type="submit">Catch Pokemon</button>
      </form>

      <form method="DELETE" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn" type="submit">Release Pokemon</button>
      </form>
    </div>
   
  <% }); %>
</div>


